$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Grand Hotel", cursive;
$letter-spacing: 4px;
$primary-color: #678e3e;
$primary-light: #a4ca7b;
$margin-y: 1.5rem 0;
$grey-clr: #f1f5f8;
$transition: all 2s ease-in-out;
